@page "/"
@inject HttpClient Client
@inject Blazored.LocalStorage.ILocalStorageService localStorageService
@layout IndexLayout
@inject NavigationManager NavManager
    <div class="align-content-center">
        <EditForm Model="@loginForm" OnValidSubmit="Login" class="card">
            <div class="card-body">
                <div class="form-row form-group">
                    <label for="UserName">UserName</label>
                    <InputText id="UserName" class="form-control" @bind-Value="loginForm.UserName" />
                </div>
                <div class="form-row form-group">
                    <label for="Password">Password</label>
                    <InputText id="Password" class="form-control" type="password" @bind-Value="loginForm.Password" />
                </div>
                <button class="btn btn-primary"  type="submit">Login</button>
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <div class="@ServerMessage text-danger">@message</div>
            </div>
        </EditForm>
    </div>



@code{      

    Charon.Model.LoginForm loginForm = new Charon.Model.LoginForm();
    string message="";
    string ServerMessage => message!=""?"d-block":"d-none";
    private async Task Login()
    {

        var Credentials = Convert.ToBase64String(
                System.Text.Encoding.UTF8.GetBytes(
                    $"{loginForm.UserName}|{loginForm.Password}"
                    )
            );
        Client.DefaultRequestHeaders.Add("Credentials", Credentials);
        message =(await (await Client.PostAsync("/api/authenticate",
            new StringContent(""))).Content.ReadFromJsonAsync<Dictionary<string,string>>())["message"];
        if (message.Contains("authenticated"))
        {
            await localStorageService.SetItemAsync("Credentials", Credentials);
            NavManager.NavigateTo("/app");
        }
        else
        {
            Client.DefaultRequestHeaders.Remove("Credentials");

        }



    }

    protected override async Task OnInitializedAsync()
    {
        var cred = await localStorageService.GetItemAsync<string>("Credentials");
        if (!string.IsNullOrEmpty(cred))
        {
            NavManager.NavigateTo("/app");
        }
    }
}