@inherits LayoutComponentBase


    <div class="main indexpage" style="min-height:100vh">
        <div class="top-row d-block px-4">
            <a class="navbar-brand text-dark text-left " href="/">Charon</a>
        </div>
        <div class="container">
            <div class="row">
                <img class="d-none d-lg-block offset-lg-1 col-lg-4" src="images/Home.png" />
                <div class="content align-content-center offset-lg-2 col-lg-4 col-md-7 col-sm-8 my-auto">
                    @Body
                </div>
            </div>
        </div>
    </div>
@code {

}
