@inherits LayoutComponentBase


    <div class="main indexpage" style="min-height:100vh">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>
        <div class="container">
            <div class="row">
                <img class="mt-2 ml-5 d-none d-sm-block" src="images/Home.png" />
                <div class="content px-4 mt-5 justify-content-end">
                    @Body
                </div>
            </div>
        </div>
    </div>
@code {

}
