@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService localStorageService

<NavMenu />


<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        <NavLink class="ml-md-auto nav-link" @onclick="Logout">Log out</NavLink>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>


@code {
    private async Task Logout()
    {
        await localStorageService.ClearAsync();

    }
}