@inject Charon.Services.EventsService eventService
@inject NavigationManager NavManager
<div class="sidebar">
    <div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">Charon</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass">
        <ul class="nav flex-column">
            <li class="nav-item px-3" @onclick="ToggleNavMenu">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            @if (EventList != null)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link">
                        <span class="oi oi-spreadsheet" aria-hidden="true"></span> Events
                    </NavLink>
                    <ul class="flex-column list-unstyled pl-3">
                        @foreach (var Evnt in EventList)
                        {
                            <li>
                                <a class="nav-link" href="/app/@Evnt.Key" @onclick="ToggleNavMenu">
                                    <span class="oi oi-list"></span> @Evnt.Key
                                </a>
                            </li>
                                }
                    </ul>
                </li>
}
            <li class="nav-item px-3" @onclick="ToggleNavMenu">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item px-3" @onclick="ToggleNavMenu">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>
            <li class="nav-item px-3 d-block d-sm-none">
                <NavLink class="nav-link" href="#" @onclick="Logout">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
                </NavLink>
            </li>
        </ul>
    </div>
</div>
@code {

    [Parameter]
    public EventCallback Logout { get; set; }

    [Parameter]
    public Dictionary<string, string> Events { get; set; }

    public Dictionary<string, string> EventList { get; set; }
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnParametersSet()
    {
        EventList = Events;
    }


    private void Search(ChangeEventArgs e)
    {
        EventList =
            new Dictionary<string, string>(
                Events.Where(x => x.Key.Contains(e.Value.ToString()) || x.Value.Contains(e.Value.ToString()))
                );
    }

    private void SelectEvent (string table)
    {
        ToggleNavMenu();
        NavManager.NavigateTo($"/app/{table}");
        
    }
}
